{% extends 'base.html.twig' %}

{% block body %}
    <div class="antialiased min-h-screen bg-gray-900 text-white py-24">
        <div class="max-w-lg w-full mx-auto">

            <div class="text-center">
                <img src="{{ asset('img/hompage.svg') }}" class="w-64 mx-auto" alt="homepage">

                <h1 class="-mt-24 font-black text-5xl md:text-6xl">Articles API</h1>
                <p class="mt-1 text-gray-400 text-sm uppercase">
                    Created for
                    <a href="https://www.blacknachos.com/" class="tracking-wider text-gray-200 hover:underline hover:text-white transition duration-200" target="_blank">
                        Black Nachos
                    </a>
                </p>
            </div>

            <div class="mt-12 bg-gray-800 p-8 sm:rounded-lg">
                <p class="text-base text-gray-400">Api url:</p>
                <p class="mt-1">
                    <a href="{{ url }}api/articles" class="font-medium text-gray-200 hover:underline hover:text-white transition duration-200">{{ url }}api/articles</a>
                </p>

                <p class="mt-8 text-base text-gray-400">Souce code url:</p>
                <p class="mt-1">
                    <a href="https://github.com/ilmala/blacknachos" class="font-medium  text-gray-200 hover:underline hover:text-white transition duration-200">
                        https://github.com/ilmala/blacknachos
                    </a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}
